@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}